/* Add this CSS rule to make text white */
*,
*::before,
*::after {
    color: white; /* Set text color to white */
    box-sizing: border-box;
    font-family: 'system-ui', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://static.vecteezy.com/system/resources/previews/001/937/781/non_2x/business-startup-launching-product-with-rocket-concept-template-and-backgrounds-illustration-business-project-startup-process-idea-through-planning-and-strategy-time-management-vector.jpg') no-repeat;
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.form-wrapper {
    position: relative;
    width: 400px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.form-wrapper .card {
    width: 360px;
    padding: 20px;
    background-color: transparent;
}

.card-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 20px 0;
    font-size: 1.1rem;
    color: #4dc7fce0;
    box-shadow: 2px 3px 8px #d3f7ff71;
    border-radius: 50px;
}

.card-header .form-header {
    flex: 50px;
    text-align: center;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
}

.card-header .form-header.active {
    box-shadow: inset 1px 1px 2px rgb(19 210 177 / 55%), inset -1px 1px 2px rgb(19 210 177 / 55%), inset -1px -1px 2px rgb(19 210 177 / 55%), inset 1px -1px 2px rgb(19 210 177 / 55%);
    border-color: #4dc7fce0;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.card-body {
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
}

form {
    flex: 0 0 100%;
}

.toggleForm {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.form-control {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(134 255 249 / 65%);
    background: none;
    outline: none;
    padding: 10px 5px;
}

.form-control::placeholder {
    color: white; /* Set the color of the input placeholders to white */
}

.formButton {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #191919;
    font-weight: 500;
    transition: .5s ease;
}

.formButton:hover {
    box-shadow: 3px 5px 115px white;
    transform: translateY(-5px);
}

.login-link {
    color: #fff;
    font-size: .9em;
    text-align: center;
    transition: .5s ease;
}

.input-check:checked~.login-link {
    color: #4dc7fce0;
    text-shadow: 0 0 10px #4dc7fce0;
}

.login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color .5s ease;
}

.login-link p a:hover {
    text-decoration: underline;
}

.input-check:checked~.login-link p a {
    color: #4dc7fce0;
}
